<div class="row sm-4 review">
    <div class="col-md-8">
        <img src="#" alt="Image of the day">
    </div>
    <div class="col-md-4">
        {{!-- aside --}}
    </div>
</div>
{{#each reviews as |review|}}
<div class="row sm-4 review">
    <div class="col-10-md-">
        <p>Created by {{review.user.name}} on {{format_date review.date_created}}</p>
        <p>{{review.context}}</p>
    </div>
</div>
{{/each}}