<div class="row sm-4 review">
    <div class="col-md-8">
        {{!-- <img src="/pics/cat.jpg" alt="Image of the day"> --}}
        <!-- this is a place holder for our reddit link -->
        {{#fetch redditimage}}

    </div>
    <div class="col-md-4">
        {{!-- aside --}}
    </div>
</div>
{{#each reviews as |review|}}
<div class="row sm-4 review">
    <div class="col-10-md-">
        <p>Created by {{review.user.name}}</p>
        <p>{{review.context}}</p>
    </div>
</div>
{{/each}}
