<div class="row">
    <div class="col-md-6">
        <h2>Login!</h2>
        <form>
            <input type="text" id="email-login" name="login" placeholder="Email">
            <input type="text" id="password-login" name="login" placeholder="Password">
            <button class="btn btn-primary login-form" type="submit">Login</button>
        </form>
    </div>

    <div class="col-md-6">
        <h2>Sign Up!</h2>

        <form class="signup-form">

            <input type="text" name="signup" id="name-signup" placeholder="Name">
            <input type="text" name="signup" id="email-signup" placeholder="Email">
            <input type="text" name="signup" id="password-signup" placeholder="Password">
            <button class="btn btn-primary signup-form" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<script src="../public/js/login.js"></script>
