<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>
<div class="row sm-4 review">
    <div class="col-md-10">
        <h3>Create a new comment:</h3>

        <form class="form new-comment-form">
            <div class="form-group">
                <label for="reviewer-comment">comment:</label>
                <textarea class="form-input" id="reviewer-comment" name="reviewer-comment"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{#if reviews.length}}
    <div class="col-md-10 reviewer-list">
        <h3>Current reviews:</h3>
    {{#each reviews as |review|}}
        <div class="row mb-4">
            <div class="col-md-10">
                <p>Created by {{review.user.name}} on {{format_date review.date_created}}</p>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src=""></script>