<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
        <h3>Create a new review:</h3>
    </div>
</div>
<div class="row sm-4 review">
    <div class="d-flex justify-content col-md-12 d-flex justify-content-center review">
        <div class="col-md-10 d-flex flex-column">
            <label for="title" class="h4">Title</label><br />
            <input type="text" id="title" name="post[title]" value="" /><br />
            <label for="content">review</label><br />
            <textarea id="content" name="post[content]" rows="20" cols="50"></textarea><br />
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </div>

    {{#if reviews.length}}
    <div class="col-md-10 reviewer-list">
        <h3>Current reviews:</h3>
        {{#each reviews as |review|}}
        <div class="row mb-4">
            <div class="col-md-10">
                <p>Created by {{review.user.name}} on {{format_date review.date_created}}</p>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

</div>

<script src="./js/profile.js"></script>