body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.navbar-customstyle {
  background-color: #ff3333;
  color: white;
}
.loginBtn {
  color: black;
  pointer-events: none;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.card-text, .card-header {
  text-align: center;
}

.card-text {
  padding: 30px;
}
#navbarSupportedContent {
  display: flex;
  margin-left: 40px;
}

.nav-item {
  font-size: 20px;
}
