body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.navbar-customstyle {
  background-color: #ff3333;
  color: white;
}
.loginBtn {
  color: black;
  pointer-events: none;
}

#navbarSupportedContent {
  display: flex;
  margin-left: 40px;
}

.nav-item {
  font-size: 20px;
}
