body {
  font: 20px  Verdana, Geneva, Tahoma, sans-serif;
  
}

a {
  color: #00b7ff;
}

.navbar-customstyle {
  background-color: #ff3333;
  color: white;
}
.loginBtn {
  color: black;
  pointer-events: none;
}

#navbarSupportedContent {
  display: flex;
  margin-left: 40px;
}

.nav-item {
  font-size: 20px Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-name {
  font-size: 30px Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-text,
.card-header,
h3 {
  text-align: center;
}

.card-text {
  padding: 30px;
}

/* .homepage-review {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px;
  border: 3px solid green; */
}

.redditImage:hover {
  transform: scale(5);
}
#content #review {
  font-size: medium;
  font-style: normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}